%h2 Add an event

#selectPillar
  = form_tag add_event_path, :id => 'addAnEvent', :method => :post do
    %p
      = label_tag "Pillar"
      = select_tag :pillar, options_for_select(my_pillars_options), :prompt => "Select pillar"
    %p
      = label_tag "Event/Milestone"
      = text_field_tag :event_milestone, "", :placeholder => "WHAT DID YOU DO?"
    %p
      = label_tag "Where did you go?"
      = text_field_tag :where_did_you_go
    %p
      = label_tag "When did you go?"
      = text_field_tag :when_did_you_go, "", :class => "datepicker"
    %p
      = label_tag "Thoughts?"
      = text_area_tag :thoughts
    = submit_tag "Add event"
