- if pillar.present?
  %div{id: "pillar_#{pillar.id}"}
    .pillar-image
      .category-image
        = image_for_pillar(pillar)
        .categoryDesc
          %h3= pillar.pillar_category.name
    .pillar-content
      = link_to (image_tag "profile_add_button.png"), "#", data_pillar_id: pillar.id, class: 'add-event-link_'
      - if pillar.event_items.empty?
        %p.add_new_event= link_to (image_tag "profile_add_new_event.png"), "", data_pillar_id: pillar.id, class: 'add-event-link_'
      - else
        = render pillar.event_items
- else
  = link_to "Add your first category", "", class: 'open-pillars-lightbox_'


