= simple_form_for profile, :url => update_profile_path, html: {class: 'form-horizontal'} do |f|
  -if profile.errors.any?
    #error_explanation
      %h2= "#{pluralize(profile.errors.count, "error")} prohibited this profile from being saved:"
      %ul
        - profile.errors.full_messages.each do |msg|
          %li= msg

  = f.input :first_name
  = f.input :last_name
  = f.input :gender, collection: Profile::GENDERS.map{|g, title|[title.humanize, g]}
  = f.input :looking_for, collection: Profile::GENDERS.map{|g, title|[title.humanize.pluralize, g]}
  = f.input :looking_for_age, collection: [["18-24","18-24"],["25-36","25-36"],["37-50","37-50"],["50 and over","50 and over"]]
  = f.input :in_or_around, collection: [['Denver, CO','Denver, CO']]
  = f.input :age
  = f.input :who_am_i, as: 'text'
  = f.input :who_meet, as: 'text'

  = f.submit 'Save'
