%section#leftPillarArray
  #leftPillarContainer
    #leftPillarImage
      .categoryImage
        = image_tag "pillar_travel.png"
        .categoryDesc
          %h3 Travel
    #leftPillarContent
      = link_to (image_tag "profile_add_button.png"), "#"
      %p.add_new_event= link_to (image_tag "profile_add_new_event.png"), ""
    = link_to "Add your first category", "", :id => 'open_pillars_lightbox'
%section#rightPillarArray
  %section#pillarAboutMe
    #pillarAboutMeContent
      %h2 About me
      .pillarContent
        - if @profile.attributes.any?{|k, v| v.present?}
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam leo justo, rhoncus vitae auctor eu, tincidunt sed eros. Praesent commodo est sed enim ornare porttitor. Suspendisse nec risus dolor. Donec commodo tincidunt fringilla. Cras semper quam consectetur nulla ornare pretium. Nullam dui sapien, lacinia consequat vestibulum nec, pharetra ut tellus. Nunc et consequat arcu. Sed feugiat, felis nec porta dapibus, sem arcu congue nibh, at convallis urna mi vel risus. Aliquam porta consequat sed.
            = link_to 'Edit...', edit_profile_path
        - else
          = link_to 'Add your own text here', ""
    #pillarAboutMePhoto
      - unless current_user.profile.avatar.present?
        = link_to (image_tag "profile_add_photo.png"), "#", :id => "add_avatar_link"
      - else
        = image_tag current_user.profile.avatar.thumb.url
    #pillarAboutMeMeet
      %h2 Who i'd like to meet
      .pillarContent
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam leo justo, rhoncus vitae auctor eu, tincidunt sed eros. Praesent commodo est sed enim ornare porttitor. Suspendisse nec risus dolor. Donec commodo tincidunt fringilla. Cras semper quam consectetur nulla ornare pretium. Nullam dui sapien, lacinia consequat vestibulum nec, pharetra ut tellus. Nunc et consequat arcu. Sed feugiat, felis nec porta dapibus, sem arcu congue nibh, at convallis urna mi vel risus. Aliquam porta consequat sed.

  %section#leftMiddleBottomContainer
    %section#leftMiddlePillar
      #leftPillarImage
        .categoryImage
          = image_tag "pillar_food.png"
          .categoryDesc
            %h3 Food and wine
      #leftPillarContent
        = link_to (image_tag "profile_add_button.png"), ""
        %p.add_new_event= link_to (image_tag "profile_add_new_event.png"), ""

    %section#rightBottomPillarArray
      %section#rightBottomContainer
        %section#rightMiddlePillar
          #leftPillarContent
            %p.add_new_event= link_to (image_tag "profile_add_new_event.png"), ""
        %section#rightPillar
          #leftPillarImage
            .categoryImage
              = image_tag "pillar_movie.png"
              .categoryDesc
                %h3 Movie & TV
          #leftPillarContent
            = link_to (image_tag "profile_add_button.png"), ""
            %p.add_new_event= link_to (image_tag "profile_add_new_event.png"), ""
      %section#bottomPillar
        %h2 I would totally have also added these categories too


#new_avatar_lightbox.hidden
  %h2 Select picture
  %p You can upload .png, .jpeg, .jpg images smaller than 5mb
  = form_tag add_avatar_path, :multipart => true, :method => :post, :id => 'add_avatar_form' do
    = file_field_tag "picture"
    
.hidden
  #pillars_lightbox
    = render 'pillars'

