#event_photo_form.hidden
  = form_for EventPhoto.new, remote: true do |f|
    = hidden_field_tag :pillar_id
    = f.label :image, t('event_descriptors.any_pics')
    = f.file_field :image, class: 'event_photo_image_'
    %span.upload-status_ Select file
  .event_photos_previews_
#profile_avatars_form.hidden
  = form_for @profile, url: update_profile_path, method: :put, remote: true, html: {id: 'edit_photo'} do |f|
    = file_field_tag 'profile[avatars_attributes][][image]'

#event_items_popup
#profile_popup

%section#leftPillarArray
  #leftPillarContainer

%section#rightPillarArray
  %section#pillarAboutMe
    #pillarAboutMeContent

    #pillarAboutMePhoto
    #pillarAboutMeMeet

  %section#leftMiddleBottomContainer
    %section#leftMiddlePillar
    %section#rightBottomPillarArray
      %section#rightBottomContainer
        %section#rightMiddlePillar
        %section#rightPillar
      %section#bottomPillar
        %h2 I would totally have also added these categories too


:javascript
  window.router = new Agreatfirstdate.Routers.PillarsRouter({pillars: #{@pillars.to_json}, pillarCategories: #{@pillar_categories.to_json}});
  window.userRouter = new Agreatfirstdate.Routers.UserRouter({user: #{@profile.to_json}});
  window.userRouter.show();
  Backbone.history.start();