#event_photo_form.hidden
  = form_for EventPhoto.new, remote: true do |f|
    = hidden_field_tag :pillar_id
    = f.label :image, t('event_descriptors.any_pics')
    = f.file_field :image, class: 'event_photo_image_'
    %span.upload-status_ Select file
  .event_photos_previews_
#profile_avatars_form.hidden
  = form_for @profile, url: update_profile_path, method: :put, remote: true, html: {id: 'edit_photo'} do |f|
    = file_field_tag 'profile[avatars_attributes][][image]'

#event_items_popup
#profile_popup

%section#leftPillarArray
  #leftPillarContainer.standart-widget

%section#rightPillarArray
  %section#pillarAboutMe
    #pillarAboutMeContent
<<<<<<< HEAD

    #pillarAboutMePhoto
=======
      %h2 About me
      .pillar-content
        - if @profile.who_am_i.present?
          %p
            = truncate @profile.who_am_i, :length => 500
            = link_to 'Edit...', "", :id => "open_who_lightbox"
        - else
          = link_to 'Add your own text here', "", :id => "open_who_lightbox"
        = link_to 'Select Your Pillars', '#/pillars/choose'
    #pillarAboutMePhoto.standart-widget
      - unless current_user.profile.avatar.present?
        = link_to (image_tag "profile_add_photo.png"), "", :id => "add_avatar_link"
      - else
        = image_tag current_user.profile.avatar.thumb.url
>>>>>>> Add some styling to the profile page
    #pillarAboutMeMeet

  %section#leftMiddleBottomContainer
    %section#leftMiddlePillar.standart-widget
    %section#rightBottomPillarArray
      %section#rightBottomContainer
        %section#rightMiddlePillar.standart-widget
        %section#rightPillar.standart-widget
      %section#bottomPillar
        %h2 I would totally have also added these categories too


:javascript
  window.router = new Agreatfirstdate.Routers.PillarsRouter({pillars: #{@pillars.to_json}, pillarCategories: #{@pillar_categories.to_json}});
  window.userRouter = new Agreatfirstdate.Routers.UserRouter({user: #{@profile.to_json}});
  window.userRouter.show();
  Backbone.history.start();