%section#leftPillarArray
  #leftPillarContainer
    #pillarImage
      .categoryImage
        = image_for_pillar(@pillars[0])
        .categoryDesc
          %h3= @pillars[0].pillar_category.name
    #pillarContent
      = link_to (image_tag "profile_add_button.png"), "#"
      - if @pillars[0].event_items.empty?
        %p.add_new_event= link_to (image_tag "profile_add_new_event.png"), "", :data_pillar_id => @pillars[0].id
      - else
        - @pillars[0].event_items.each do |item|
          %span= item.title
    - unless @pillars[0].present?  
      = link_to "Add your first category", "", :id => 'open_pillars_lightbox'

%section#rightPillarArray
  %section#pillarAboutMe
    #pillarAboutMeContent
      %h2 About me
      .pillarContent
        - if @profile.who_am_i.present?
          %p
            = truncate @profile.who_am_i, :length => 500
            = link_to 'Edit...', "", :id => "open_who_lightbox"
        - else
          = link_to 'Add your own text here', "", :id => "open_who_lightbox"
    #pillarAboutMePhoto
      - unless current_user.profile.avatar.present?
        = link_to (image_tag "profile_add_photo.png"), "", :id => "add_avatar_link"
      - else
        = image_tag current_user.profile.avatar.thumb.url
    #pillarAboutMeMeet
      %h2 Who i'd like to meet
      .pillarContent
        - if @profile.who_meet.present?
          %p
            = truncate @profile.who_meet, :length => 500
            = link_to 'Edit...', "", :id => "open_meet_lightbox"
        - else
          = link_to 'Add your own text here', "", :id => "open_meet_lightbox"

  %section#leftMiddleBottomContainer
    %section#leftMiddlePillar
      #pillarImage
        .categoryImage
          = image_for_pillar(@pillars[1])
          .categoryDesc
            %h3= @pillars[1].pillar_category.name
      #pillarContent
        = link_to (image_tag "profile_add_button.png"), ""
        - if @pillars[1].event_items.empty?
          %p.add_new_event= link_to (image_tag "profile_add_new_event.png"), "", :data_pillar_id => @pillars[1].id
        - else
          - @pillars[1].event_items.each do |item|
            %span= item.title
      - unless @pillars[1].present?  
        = link_to "Add your second category", "", :id => 'open_pillars_lightbox'
    %section#rightBottomPillarArray
      %section#rightBottomContainer
        %section#rightMiddlePillar
          #pillarImage
            .categoryImage
              = image_for_pillar(@pillars[1])
              .categoryDesc
                %h3= @pillars[2].pillar_category.name
          #pillarContent
            = link_to (image_tag "profile_add_button.png"), ""
            - if @pillars[2].event_items.empty?
              %p.add_new_event= link_to (image_tag "profile_add_new_event.png"), "", :data_pillar_id => @pillars[2].id
            - else
              - @pillars[2].event_items.each do |item|
                %span= item.title
          - unless @pillars[2].present?  
            = link_to "Add your third category", "", :id => 'open_pillars_lightbox'
        %section#rightPillar
          #pillarImage
            .categoryImage
              = image_for_pillar(@pillars[1])
              .categoryDesc
                %h3= @pillars[3].pillar_category.name
          #pillarContent
            = link_to (image_tag "profile_add_button.png"), ""
            - if @pillars[3].event_items.empty?
              %p.add_new_event= link_to (image_tag "profile_add_new_event.png"), "", :data_pillar_id => @pillars[3].id
            - else
              - @pillars[3].event_items.each do |item|
                %span= item.title
          - unless @pillars[3].present?  
            = link_to "Add your forth category", "", :id => 'open_pillars_lightbox'
      %section#bottomPillar
        %h2 I would totally have also added these categories too

#new_avatar_lightbox.hidden
  %h2 Select picture
  %p You can upload .png, .jpeg, .jpg images smaller than 5mb
  = form_tag add_avatar_path, :multipart => true, :method => :post, :id => 'add_avatar_form' do
    = file_field_tag "picture"

#who_lightbox.hidden
  %h2 Who I Am
  %p Please, add some text about you
  = simple_form_for @profile, :url => update_profile_path do |f|
    = f.input :who_am_i
  %p 
    You have 
    %span#charsLeft
    chars left

#whom_lightbox.hidden
  %h2 Who would you like to find?
  %p Please, add some text about that
  = simple_form_for @profile, :url => update_profile_path do |f|
    = f.input :who_meet
  %p 
    You have 
    %span#charsToInput
    chars left

#pillars_lightbox.hidden
  = render 'pillars'
#add_event_lightbox.hidden
  = render 'add_event'
