#event_items
:javascript
  eventItems = #{current_user.event_items.to_json.html_safe};
  window.router = new Agreatfirstdate.Routers.EventItemsRouter({eventItems: eventItems});
  Backbone.history.start();

%section#leftPillarArray
  #leftPillarContainer
    = render 'pillar', pillar: pillar_at(0)

%section#rightPillarArray
  %section#pillarAboutMe
    #pillarAboutMeContent
      %h2 About me
      .pillar-content
        - if @profile.who_am_i.present?
          %p
            = truncate @profile.who_am_i, :length => 500
            = link_to 'Edit...', "", :id => "open_who_lightbox"
        - else
          = link_to 'Add your own text here', "", :id => "open_who_lightbox"
    #pillarAboutMePhoto
      - unless current_user.profile.avatar.present?
        = link_to (image_tag "profile_add_photo.png"), "", :id => "add_avatar_link"
      - else
        = image_tag current_user.profile.avatar.thumb.url
    #pillarAboutMeMeet
      %h2 Who i'd like to meet
      .pillar-content
        - if @profile.who_meet.present?
          %p
            = truncate @profile.who_meet, :length => 500
            = link_to 'Edit...', "", :id => "open_meet_lightbox"
        - else
          = link_to 'Add your own text here', "", :id => "open_meet_lightbox"

  %section#leftMiddleBottomContainer
    %section#leftMiddlePillar
      = render 'pillar', pillar: pillar_at(1)
    %section#rightBottomPillarArray
      %section#rightBottomContainer
        %section#rightMiddlePillar
          = render 'pillar', pillar: pillar_at(2)
        %section#rightPillar
          = render 'pillar', pillar: pillar_at(3)
      %section#bottomPillar
        %h2 I would totally have also added these categories too
#add_event_lightbox.hidden
  = render 'event_items/new', resource: @event_item
#new_avatar_lightbox.hidden
  %h2 Select picture
  %p You can upload .png, .jpeg, .jpg images smaller than 5mb
  = form_tag add_avatar_path, :multipart => true, :method => :post, :id => 'add_avatar_form' do
    = file_field_tag "picture"

#who_lightbox.hidden
  %h2 Who I Am
  %p Please, add some text about you
  = simple_form_for @profile, :url => update_profile_path do |f|
    = f.input :who_am_i
  %p 
    You have 
    %span#charsLeft
    chars left

#whom_lightbox.hidden
  %h2 Who would you like to find?
  %p Please, add some text about that
  = simple_form_for @profile, :url => update_profile_path do |f|
    = f.input :who_meet
  %p 
    You have 
    %span#charsToInput
    chars left

#pillars_lightbox.hidden
  = render 'pillars'

#edit_event_lightbox
