#profile_status
.row
  .span3
    #pillarAboutMePhoto.standart-widget

  .span3
    %h2= @profile.short_name
    -#.btn= @profile.in_or_around
    - if user_signed_in? && @profile.id != current_user.profile.id
      = link_to 'Say Hi!', '#say_hi', :class => "btn"
    - if (@me && @me.can_activate(@profile))
      = link_to 'Activate', '#', :class => "btn to_activate"

    - if (@me && @me.can_deactivate(@profile))
      = link_to 'Deactivate', '#', :class => "btn to_deactivate"

  .span3
    #pillarAboutMeContent.about-widget.well

  .span3
    #pillarAboutMeMeet.about-widget.well

.row
  - if params[:controller] == "profiles"
    .span12= link_to "Back to Browse", "", :class => :back_link

  .span3
    %section#leftPillarArray
      #leftPillarContainer.standart-widget

  .span3
    %section#leftMiddlePillar.standart-widget

  .span3
    %section#rightMiddlePillar.standart-widget

  .span3
    %section#rightPillar.standart-widget

#event_items_popup.modal.hide.fade
#show_event_items_popup.modal.hide.fade
#profile_popup.modal.hide.fade
#choose_pillars_popup.modal.hide.fade
#facebook_albums_popup.modal.hide.fade
#instagram_popup.modal.hide.fade
#email_popup.modal.hide.fade
- content_for :javascript do
  = render 'profiles/js'
