#event_items_popup
#profile_popup
#send_message_confirmation.hidden
  %p
    Sending an e-mail will deduct 100 points from your point total.
    = link_to "Why do we do this?", "/welcome/faq#deduct_points"
#not_enough_points_popup.hidden
  %p
    You don’t have 100 points!
.row
  .span3.span_first_pillar.top_row
    %section#leftPillarArray
      #leftPillarContainer.standart-widget.pillar-box

  .span3
    %section#pillarAboutMe
      #pillarAboutMeContent
    %section#leftMiddlePillar.standart-widget.pillar-box
  .span6
    .row
      .span3
        #pillarAboutMePhoto.standart-widget
        %section#rightMiddlePillar.standart-widget.pillar-box
      .span3
        #pillarAboutMeMeet
        %section#rightPillar.standart-widget.pillar-box
      .span6
        %section#bottomPillar
          %h2 I would totally have also added these categories too
          %ul.additional-categories
            %li Technology / Gadgets / Video Games
            %li Reading / Writing / Art
            %li Family
            %li Business / Investing
            %li Fashion / Modeling
            %li Charity / Volunteering

:javascript
  window.authenticity_token = "#{form_authenticity_token}";
  window.userRouter = new Agreatfirstdate.Routers.UserRouter({user: #{@profile.to_json scope: :profile}, me: #{current_user.profile.to_json scope: :self}, owner: false});
  window.userRouter.show();
  window.router = new Agreatfirstdate.Routers.PillarsRouter({pillars: #{@pillars.to_json scope: :profile}, owner: false});
  Backbone.history.start();