#profile_status.alert
.row.row-wrapper
  - if params[:controller] == "profiles"
    .span12= link_to "Back to Browse", "", :class => :back_link

  .span3.span_first_pillar.top_row
    %section#leftPillarArray
      #leftPillarContainer.standart-widget.pillar-box

  .span3
    %section#pillarAboutMe
      #pillarAboutMeContent.about-widget
    %section#leftMiddlePillar.standart-widget.pillar-box
  .span6
    .row
      .span3
        #pillarAboutMePhoto.standart-widget
        %section#rightMiddlePillar.standart-widget.pillar-box
      .span3
        #pillarAboutMeMeet.about-widget
        %section#rightPillar.standart-widget.pillar-box

#event_items_popup
#profile_popup
- if @profile == current_user.profile
  :javascript
    window.authenticity_token = "#{form_authenticity_token}";
    window.userRouter = new Agreatfirstdate.Routers.UserRouter({user: #{@profile.to_json scope: :self}, owner: true});
    window.userRouter.show();
    window.router = new Agreatfirstdate.Routers.PillarsRouter({pillars: #{@pillars.to_json scope: :self}, pillarCategories: #{@pillar_categories.to_json(scope: :self)}, userRouter: window.userRouter, owner: true});
    Backbone.history.start();
- else
  #not_enough_points_popup.hidden
    .popup_wrapper
      You don’t have 100 points!

  :javascript
    window.authenticity_token = "#{form_authenticity_token}";
    window.userRouter = new Agreatfirstdate.Routers.UserRouter({user: #{@profile.to_json scope: :profile}, me: #{my_profile.to_json scope: :self}, owner: false});
    window.userRouter.show();
    window.router = new Agreatfirstdate.Routers.PillarsRouter({pillars: #{@pillars.to_json scope: :profile, :admin? => current_user.admin?}, owner: false, userRouter: window.userRouter});
    Backbone.history.start();
