%h2 Upload Images for Your Profile Picture
= form_for :profile, url: update_profile_path, method: :put, remote: true, html: {id: 'edit_photo'} do |f|
  = hidden_field_tag :authenticity_token
  = file_field_tag 'profile[avatars_attributes][][image]', multiple: true
  %span.errors_
<% if(facebook_token){ %>
= link_to "Import Photo From Facebook", "#", :class => "facebook_import"
<% } %>
.clear
.avatars_wrapper
  .avatars
.large_
.clear
.actions
  = link_to_function image_tag("crop.png"), "$('a.crop_').trigger('click')"
  = link_to_function "Close", "$('#profile_popup').dialog('close')"
