%h2 Upload Images for Your Profile Picture
= form_for :profile, url: update_profile_path, method: :put, remote: true, html: {id: 'edit_photo'} do |f|
  = hidden_field_tag :authenticity_token
  .step Step 1: Choose up to 3 profile pictures
  = file_field_tag 'profile[avatars_attributes][][image]', multiple: true, accept: 'image/png,image/jpeg'
  %span.loader.hidden= image_tag 'file-loader.gif'
  .errors_
  <% if(facebook_token) { %>
  = link_to image_tag('import-photo-from-facebook.png', :alt => "Import photo from facebook"), "#", :class => "facebook-import"
  <% } %>
.clear
.avatars_wrapper
  .avatars
.large_
.clear
.actions
  %span.step Step 2: Crop the photos using this button:
  = link_to_function raw("#{image_tag('crop.png')} Crop"), "$('a.crop_').trigger('click')"
