.authorization_forms_wrapper
  .devise-block
    %h1 
      Create
      %span new account
    = link_to "Sign in", new_session_path(resource_name), :class => 'sign_in_link'
    .clear
    = simple_form_for(resource, :as => resource_name, :url => users_confirm_email_path) do |f|
      .inputs
        = f.input :email, :required => true, :label => false, :placeholder => 'E-mail'
        .terms_of_service
          = f.check_box :terms_of_service
          = f.label :terms_of_service, "I accept the #{link_to 'privacy policy', welcome_privacy_path, :target => "_blank"} and #{link_to 'terms of use', welcome_terms_path, :target => "_blank"} of this site.".html_safe
      .actions
        = f.button :submit, 'Sign up'
  
  .right-block
    %h1 
      Connect to
      %span account
    = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      = f.input :connect_facebook, as: 'hidden', input_html: { value: '1' }
      .inputs
        = f.input :email, :required => false, :label => false, :placeholder => 'USERNAME', error: false
        = f.input :password, :required => false, :label => false, :placeholder => 'PASSWORD', error: false
        = f.input :remember_me, :as => :boolean, :required => false, :label => 'Remember me'
      = f.button :submit, "Welcome back"
      = link_to "Forgot your password?", new_password_path(resource_name), :class => "forgot_link"