.reg_popup
  = link_to "", root_path, class: 'logo'


  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name) , :html => { :class => "reg_form"}) do |f|
    = link_to "", omniauth_authorize_path(resource_name, :facebook), :class => "fb_btn"
    %span.or
    = f.input_field :first_name, :required => true, :label => false, :placeholder => 'First name'
    = f.input_field :email, :required => true, :label => false, :placeholder => 'E-mail'
    = f.error :email, :class => "error"
    = f.input_field :password, :required => true, :label => false, :placeholder => 'Password'
    = f.error :password, :class => "error"
    -# = f.input_field :password_confirmation, :required => true, :label => false, :placeholder => 'Password confirmation'
    -# = f.error :password_confirmation, :class => "error"
    %p
      By clicking "Sign up with Facebook" or Sign up you are agreeing to the
      = link_to_terms_of_use
      and consent to our
      = link_to_privacy_policy

    = f.button :submit, "Sign up", :class => "sign_up_btn"
    %span.other_form
      or
      = link_to "Sign in", new_session_path(:user)
