<div class="authorization_forms_wrapper">
  <h1>Sign <span>up</span></h1>
  <%= link_to "Sign in", new_session_path(resource_name), :class => 'sign_in_link' %>
  <div class="clear"></div>
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="inputs">
      <%= f.input :email, :required => true, :label => false, :placeholder => "E-mail" %>
      <%= f.input :password, :required => true, :label => false, :placeholder => 'Password' %>
      <%= f.input :password_confirmation, :required => true, :label => false, :placeholder => 'Password confirmation'%>
      <div class="terms_of_service">
        <%= f.check_box :terms_of_service %>
        <%= f.label :terms_of_service, "I accept the #{link_to 'privacy policy', welcome_privacy_path, :target => "_blank"} and #{link_to 'terms of use', welcome_terms_path, :target => "_blank"} of this site.".html_safe %>        
      </div>
    </div>

    <div class="actions">
      <%= f.button :submit, "Sign up" %>
    </div>
  <% end %>

  <div class="bottom_links">
    <%= link_to omniauth_authorize_path(resource_name, :facebook) do %>
      <i class="facebook-signin-button"></i>
    <% end %>
    <br />
    <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %>
  </div>
</div>
