%p Good news!

%p #{@sender.short_name} (#{mail_to @sender.email}) sent you a message:

%p
  %i= @email.body
%p
  See what
  = link_to @sender.short_name, profile_url(@sender)
  has been up to.

%p= mail_to "inappropriate@agreatfirstdate.com", "Report an inappropriate e-mail"
