%form{action: avatars_api_profiles_path, method: 'post',  id: 'edit-photo', data: {remote: 'true', type: 'json'}}
  = hidden_field_tag :authenticity_token, "<%= authenticity_token %>".html_safe
  = file_field_tag 'avatar[image]', multiple: true, accept: 'image/png,image/jpeg', :title => 'Upload a File'
  = link_to '#', :class => 'btn btn-facebook facebook-import' do
    %i.fa.fa-facebook.fa-lg
    Import from Facebook
  %span
  = link_to '#', :class => 'btn btn-instagram instagram-import' do
    %i.fa.fa-instagram.fa-lg
    Import from Instagram
  .loader.hide= image_tag 'loader.gif'
  .errors_
.well
  .avatars_wrapper
    .avatars
  .crop-wrapper

:javascript
  $('input[type=file]').bootstrapFileInput();