%form{action: avatars_api_profiles_path, method: 'post',  id: 'edit-photo', data: {remote: 'true', type: 'json'}}
  = hidden_field_tag :authenticity_token, "<%= authenticity_token %>".html_safe
  .step Step 1: Choose up to 3 profile pictures
  %span Choose file
  = file_field_tag 'avatar[image]', multiple: true, accept: 'image/png,image/jpeg'
  %span.choosed-file
  %br
  %br

  .import-from
    Import photo from:
    = link_to raw('<i class="facebook-icon">i</i>'), '#', :class => 'facebook-import'
    = link_to raw('<i class="instagram-icon"></i>'), '#', :class => 'instagram-import'

  %span.loader.hide= image_tag 'file-loader.gif'
  .errors_
.avatars_wrapper
  .avatars
.crop-wrapper
