<h3><%= event_type.title %></h3>
<%
  _.each(fields, function(value, iteratorId, list){
    var fieldValue = this.model.attributes[value.field];
    if (fieldValue) {
      print(JST["backbone/templates/event_items/field"]({label: value.label, value: fieldValue}));
    }
  }, this);
%>

<a href="#/pillars/<%= pillar_id %>/event_items/<%= id %>">Show</a>
<a href="#/pillars/<%= pillar_id %>/event_items/<%= id %>/edit">Edit</a>
<!--<a href="#/pillars/<%= pillar_id %>/event_items/<%= id %>/destroy" class="destroy">Destroy</a>-->