- seo :title => t('seo.title_homepage'), :description => t('seo.description_homepage')
#slides
  %ul.slides-container
    %li.home
      = image_tag 'bg-home.jpg', :class => "slide-image"
      .container.gallery-slide
        .inner
          .hero
            %h1 Timeline Based Profiles
            %p By using timeline based profiles, A Great! First Date gives you the truest picture of how a person is in real life.  No more pictures from five years ago, no more awkward conversations, just interesting people doing interesting things.
          .row
            .reg_page
              .video_block
                %iframe{:allowFullScreen => "", :frameborder => "0", :height => "348", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/53564984?title=0&byline=0&portrait=0", :webkitAllowFullScreen => "", :width => "619"}

              = simple_form_for(User.new, :as => :user, :url => registration_path(:user) , :html => { :class => "reg_form"}) do |f|
                = link_to omniauth_authorize_path(:user, :facebook), :class => "btn btn-large fb_btn popup", :"data-width" => 600, :"data-height" => 400 do
                  %i.fa.fa-facebook.fa-lg 
                  Sign Up with Facebook
                %span.or
                = f.input_field :first_name, :required => true, :label => false, :placeholder => 'First name'
                = f.input_field :email, :required => true, :label => false, :placeholder => 'E-mail'
                = f.error :email, :class => "error"
                = f.input_field :password, :required => true, :label => false, :placeholder => 'Password'
                = f.error :password, :class => "error"

                %p
                  By clicking "Sign Up with Facebook" or Sign up you are agreeing to the
                  = link_to_terms_of_use
                  and consent to our
                  = link_to_privacy_policy

                = f.button :submit, "Sign Up", :class => "btn-info btn-large sign_up_btn"

    %li.how_it_works
      = image_tag 'bg-how-it-works.jpg', :class => "slide-image"
      .container.gallery-slide
        .row
          .span12
            .inner
              .profile-info
                %p.name Alex, 26 years old
                %p.categories (Travel, Eat, Family, Fitness)
                %p.description — It’s exciting to finally find a dating site that reflect how we are actually living our daily lives.

              .info
                %h2 How it works
                %ul
                  %li Pick the four pillars of you.
                  %li Update them with the things you do.
                  %li Match with people who like you for it.
                  %li Go on great first dates.
                  %li It’s simple and it’s real.

    %li.get_started
      = image_tag 'bg-get-started.jpg', :class => "slide-image"
      .container.gallery-slide
        .row
          .span12
            .inner
              .profile-info
                %p.name Scott, 27 years old
                %p.categories (Fashion, Health, Music, Movie)
                %p.description — aGreatFirstDate.com is a totally unique online experience for meeting new people. It`s the one dating site that allows me to show who I am, where I`ve been and where I`m going.

              = simple_form_for :profile,url: searches_path, method: :get,  html: {class: 'today_form'} do |f|
                %h3 Get started today!
                %fieldset
                  %label I’m a
                  = select_tag :gender, options_for_select(Profile::GENDERS.map{|g, title|[title.humanize, g]}, 'man'), class: 'gender_select'

                %fieldset
                  %label I’m looking for
                  = select_tag :looking_for, options_for_select( Profile::GENDERS.map{|g, title|[title.humanize.pluralize, g]}, 'female'), class: 'gender_select'

                %fieldset
                  %label In or arround
                  = select_tag :in_or_around, options_for_select(['Denver, CO']), class: 'gender_select'
                %fieldset
                  %label Roughly this age
                  = select_tag :looking_for_age, options_for_select(['25-35', '35-45', '45-55']), class: 'gender_select'

                %input.btn.btn-large.send{:type => "submit", :value => "Browse"}/
                / END today_form

  %nav.slides-navigation
    %a.next{:href => '#'}
      %i.icon-home-right
    %a.prev{:href => '#'}
      %i.icon-home-left
