%section#welcome
  %section#welcomeLogin
    #welcomeLoginBox
      %h3
        Already a
        %span member
        ?
      = form_tag @user, :id => 'welcomeLoginForm' do
        = text_field_tag :username, params[:username], :placeholder => 'USERNAME'
        = password_field_tag :password, :placeholder => 'PASSWORD'
        = submit_tag "Welcome back"
  %section#welcomeMain
    #welcomeMainBack
    #welcomeIntroductory
      %p Finding someone great isn't about an instant
      %p in time, it's about matching up two great lives
      %br
      %p Welcome to the first dating site that lets you know
      %p not just who someone is, but how someone is.
    #welcomeIntroductoryArea
      #welcomeIntroductoryBack
      #welcomeIntroductoryLabel
        %h3
          %span Get started
          and find your great
          first date!
      = form_tag @user, :id => 'welcomeRegisterForm' do
        = select_tag :i_am_a, options_for_select([['Man', 'male'],['Woman', 'woman']]), :prompt => "I'm a"
        = select_tag :looking_for, options_for_select([['Men', 'men'],['Women', 'women']]), :prompt => "I'm looking for"
        = select_tag :in_or_around, options_for_select([['Denver, CO', 'Denver, CO']]), :prompt => "In or around"
        = select_tag :looking_for_age, options_for_select([["18-24","18-24"],["25-36","25-36"],["37-50","37-50"],["50 and over","50 and over"]]), :prompt => "And Roughly this Age"
        = submit_tag ""

