.row.pages
  .span12
    %h1.center
      aGreatFirstDate.com
      %br
      Privacy Policy

    %p aGreatFirstDate.com, Ltd., a Colorado limited liability company  (“GFD,” “we”, “us”) respects your privacy. This Privacy policy informs you of our privacy practices and of the choices you can make about the way your information is collected online and how that information is used.  If you have questions or concerns regarding this statement please contact us at: #{link_to "admin@agreatfirstdate.com", "mailto:admin@agreatfirstdate.com"}.

    %p By accessing  and  using this website or other services owned or operated by GFD (collectively, the services), you agree to the terms and conditions of this privacy policy. If you do not agree please do not use the services.

    %h2 Collection of personal information:

    %p To serve you better and understand your needs and interests, GFD collects, exports and uses your personal information. For example, when you register on our site, order products or services, request information, participate in surveys, or post information, we will ask for personal information to complete these transactions. The personal information you provide to us may include contact information such as your name, age, gender, address, telephone number, financial information such as a credit card number; and other unique information such as user ID’s and passwords, billing and transaction information, product and service preferences and contact preferences. 

    %p If you post, comment or share personal information, including photographs, to your public profile, forum, social network or blog please be aware that any personal information may be read, viewed, collected, or used by other users of the GFD's site, and could be used to contact you and send unsolicited messages, or for other purposes.  We encourage you to exercise discretion and caution before posting your personal information.

    %p In addition to the information you provide, GFD may also collect information during your visit to our site by means of automatic data collection tools, which include web beacons, cookies, embedded web links and other commonly used information gathering tools. Such tools collect standard information that your browser sends to our website such as your browser type, language, access times and the address of the website form which you arrived at the GFD website.  They may also collect information Protocol  (IP) address, behavior (i.e. the pages you view, the links you click and other actions you take in connection with the GFD website). 

    %p An IP address is a number that is automatically assigned to your computer whenever you are on the Web, allowing Web servers to locate and indentify your computer. Computers use IP addresses to communicate on the Internet, allowing users to browse, communicate and otherwise be susceptible to identity theft.

    %p GFD may use some of the collection tools in connection with certain emails sent from GFD and therefore may collect information in the email.  

    %h2 How we use your information:

    %p The information collected by GFD is used to understand your needs and interests which helps us deliver a consistent, personalized and enjoyable experience.  GFD may use your information to:

    %ul
      %li Prevent and detect fraud or other malicious activity;
      %li Assist you in completing a transaction;
      %li Communicate with you about products and services;
      %li Provide service and support;
      %li Update you on new matches;
      %li Provide personalized offers.

    %p Credit card information is used only for payment processing. Credit card information required to process a credit card decision is not used for any other purpose and will not be kept longer than necessary for providing the service, unless you request that we retain the information for future transactions.

    %h2 How we share your information:  

    %p GFD will not sell, rent or lease your personal information to others except as described in the statement. GFD shares personal information in the following ways:

    %p GFD retains service providers and suppliers to deliver products, services, marketing and customer solutions. Service providers may include credit card processors, customer support, email service providers, data processors and shipping agents. All providers are required by contract to keep confidential information received on behalf of GFD and may not use it for any purpose other than to complete the services for which they have been contracted.

    %p GFD may participate in marketing initiatives with other companies. These initiatives may include certain services and marketing communications at the same time as other companies. Some of these services and communications offer you the option to share personal information with both GFD and the other companies participating in these initiatives. For example, you may receive marketing communications from us and other companies or have the opportunity to register online for products and services from multiple companies. If you choose to provide personal information with the other companies participating in that marketing initiative that personal information will be handled according to the privacy policy of those companies.

    %p GFD may also share your personal information with the businesses with which we partner to offer you personalized services, products, or advertisements.  When you elect to participate in a business partners' offer or program, you authorize GFD to provide your email address and other personal information to that business partner.  Please contact us at #{link_to "admin@agreatfirstdate.com", "mailto:admin@agreatfirstdate.com"} to learn how to opt-out of cookies that my be utilized by third party data or advertising partners. 

    %p Except as described in this privacy policy, GFD will not share the information you provide to us with third parties without your permission, unless to: (i) respond to duly authorized information requests from police and governmental authorities: (ii) comply with any law, regulation, subpoena, or court order; (iii) help prevent fraud or to enforce or protect the rights and properties of GFD; or (iv) protect the personal safety of GFD employees.

    %p Circumstances may arise where for business reasons, GFD decides to sell, buy, merge or otherwise reorganize businesses. Such a transaction may involve disclosure of personal information to prospective or actual purchasers, or the receipt of it from sellers. It is GFD practice to seek appropriate protection for information in these types of transactions.

    %h2 Links to third party sites:

    %p The GFD website may provide links to third-party websites for your convenience. If you access those links, you will leave the GFD  website.  GFD does not control those sites or their privacy practices. We do not endorse or make any representations regarding third party sites. The personal data you choose to share with third parties is not covered by the GFD privacy policy . We recommend that you familiarize yourself with the privacy policies of any such third party site.

    %h2 Children’s privacy:

    %p GFD does not knowingly collect information from children under the age of 18 and does not target its website to children under the age of 18. We encourage parents and guardians to take an active role in their children’s online activities and interests.

    %h2 Your choices and selecting your privacy preferences:

    %p GFD gives you the choice of receiving a variety of information that complements our services. You can subscribe to receive certain products and service information and also choose to receive general communications by postal service, email or telephone.

    %p You can make or change your choices about receiving either subscription or general communications at the data collection point or by using other methods, which are listed in the following sections. This option does not apply to communications primarily for the purpose of administering order completion, contracts, support, updates or other administrative and transactional notices as the primary purpose of these communications is not promotional in nature.

    %p The email communications that you receive from us will be provided in accordance with this statement. Some email communications may utilize automatic data collection tools. 

    %h2 Subscription Communications:

    %p Subscription communications include email newsletters, software updates, etc. that may be expressly requested by you or which you consented to receive. After you request such communications, you may opt out of receiving them by using one of the following methods:

    %ul
      %li Select the email “opt out” or “unsubscribe” link, or follow the opt-out instructions included with each subscription communication.
      %li Return to the Web page where you originally registered your preferences and follow the opt-out instructions.
      %li Write to GFD at #{link_to "admin@agreatfirstdate.com", "mailto:admin@agreatfirstdate.com"}. Be sure to provide your name, email and postal address, and specific relevant information about GFD subscriptions that you no longer wish to receive.
      %li Please be aware that when you opt out of receiving communications, it may affect the services you have chosen to receive from us where accepting the communications is a condition for receiving services.

    %h2 General communications:

    %p General communications provide information about products, services, and/or support. This may include new information of new services, special offers, or invitations to participate in market research.

    %p You will be able to indicate whether you want to receive general communications from us by writing to GFD at #{link_to "admin@agreatfirstdate.com", "mailto:admin@agreatfirstdate.com"}.  Be sure to provide your name, email and postal address, and specific relevant information about your privacy preferences.

    %h2 Access to and accuracy of your information:

    %p GFD strives to keep your personal information accurately recorded. We have implemented policies to help maintain data accuracy. GFD provides individuals with reasonable access to their personal information and the ability to review and correct it or ask for deletion, as applicable. To protect your privacy and security, we will also take reasonable steps to verify your identity, such as requiring a password and user ID, before granting access to your data. To view and change the personal information that you directly provided to us you can return to the Web page where you originally submitted your data and follow the instructions on that web page, or contact GFD at #{link_to "admin@agreatfirstdate.com", "mailto:admin@agreatfirstdate.com"}.

    %h2 Keeping your personal information secure:

    %p GFD takes seriously the trust you place in us. To prevent unauthorized access or disclosure, to maintain data accuracy, and to ensure the appropriate use of the information, GFD utilizes reasonable procedures to safeguard the information we collect.  The personal information you provide us is stored on computer systems, which have limited access. When we transmit highly confidential information (such as credit or password) over the Internet, we protect it through the use of encryption. Credit card numbers are used only for processing payments and are not used for other purposes.  However, no system can be completely secure.  Therefore, we cannot guarantee, and you cannot expect, that your personal information, searches or other communications will always remain secure.

    %h2 Changes to this policy:

    %p If we change our privacy policy, we will post the revised policy here. We reserve the right, at our sole discretion, to change this Privacy Policy from time to time. Your continued use of GFD's Website after such changes take effect will be deemed to constitute your acceptance of and agreement to the new Privacy Policy. 


    %h2 Contacting Us:

    %p We value your opinions. If you have comments or questions about our privacy policy, please send them to #{link_to "admin@agreatfirstdate.com", "mailto:admin@agreatfirstdate.com"} or write to us at the following address:

    %p
      aGreatFirstDate.com, Ltd.
      %br
      3815 Jason Street
      %br
      Denver, CO 80211
      
    %p Last updated: May 16, 2012
