#event_items_popup
#settings

  .row.profile_edit
    .span12
      %h3.expanded My Settings
      .row
        = simple_form_for profile, :url => update_profile_path, html: {class: 'form-horizontal', id: 'edit_profile'} do |f|
          .span6
            = f.fields_for :user do |f|
              = f.input :email, :input_html =>{:class => "input-large"}
            = f.input :first_name, :input_html =>{:class => "input-large"}
            = f.input :last_name, :input_html =>{:class => "input-large"}
            = f.input :birthday,
              :start_year => Date.today.year - 80,
              :end_year => Date.today.year - 16,
              :include_blank => true,
              :order => [:month, :day, :year]
          .span6
            = f.input :gender, collection: Profile::GENDERS.map{|g, title|[title.humanize, g]}, prompt: true
            = f.input :looking_for, collection: Profile::GENDERS.map{|g, title|[title.humanize.pluralize, g]}, prompt: true
            = f.input :in_or_around, collection: Profile::LOCATIONS, include_blank: false
            = f.input :looking_for_age do
              .age-controls
                = f.label :looking_for_age_from
                = f.text_field :looking_for_age_from, :class => 'span1'
                = f.label :looking_for_age_to
                = f.text_field :looking_for_age_to, :class => 'span1'
            .clear
              .control-group{:style => "margin-top: 41px;"}
                .span2.pull-right
                  = f.button :submit, (f.object.new_profile? ? 'Save & Create Profile' : 'Save'), :class => " btn-large"

  .row.profile_edit
    .span12
      %h3.collapsed Billing Info
      .row.nested-row.hide
        = simple_form_for profile, :url => api_billing_path, method: :put, html: {class: 'form-horizontal', id: 'edit_billing_profile'} do |f|
          .row.profile_edit
            .span8{:style => "color: #8dc63f;"}
              #billing-update-flash
          .row.profile_edit
            .span6
              = f.input :billing_full_name, :input_html => { :class => 'input-xlarge' }, :label => "Full Name"
              = f.input :address1, :input_html => { :class => 'input-xlarge' }
              = f.input :address2, :input_html => { :class => 'input-xlarge' }
              = f.input :city
              = f.input :state
              = f.input :zip, :input_html => { :class => 'input-small' }, :wrapper_html => {:class => "zip-spin"}
              = f.input :country, as: :select, collection: Country::NAMES
            .span5
              #manage-card-actions{style: ('display: none;' unless f.object.stripe_customer_token.present?)}
                .row
                  .span1
                  .span5#card-stub
                    .span1.pull-left
                      = image_tag "cards/#{ f.object.card_type_to_image_name }.png", id: 'js-card-type',
                        data: { :visa               => image_path('cards/visa.png'),
                                :mastercard         => image_path('cards/mastercard.png'),
                                :'american-express' => image_path('cards/american-express.png'),
                                :discover           => image_path('cards/discover.png'),
                                :'diners-club'      => image_path('cards/diners-club.png'),
                                :jcb                => image_path('cards/jcb.png') }
                    #masked-card-info.pull-left
                      %p.card-number= f.object.card_number_masked
                      %p.ending-in= "Ending in: #{ f.object.card_exp_month }/#{ f.object.card_exp_year }"
                    .clearfix
                .row
                  .span1
                  .span3#card-actions
                    .span2
                      = link_to "Edit", "#", id: 'js-edit-credit-card'
                      \|
                      = link_to "Delete", "#",id: "delete-credit-card"

              #card-info{style: ('display: none;' if f.object.stripe_customer_token.present?)}
                = f.input :card_number, input_html:{value: nil}
                .control-group.string.optional
                  %label.string.optional.control-label
                    Expiration
                  .controls
                    = f.input_field :card_exp_month, autocomplete: :off, as: :select, collection: (1..12).map{|j| "%02d"%j }, style: "width:60px;", include_blank: false
                    = f.input_field :card_exp_year, autocomplete: :off, as: :select, collection: (Time.now.year..(Time.now+12.years).year).to_a, style: "width:100px;", include_blank: false
                = f.input :card_cvc, class: "input-small", value: f.object.card_cvc_masked, autocomplete: :off, value: nil
                = f.input :discount_code, class: "input-medium", autocomplete: :off, :hint => " ", :wrapper_html => {:id => "discount-block"}
                .control-group
                  %label
                    Order Total
                  .controls
                    .string#total-amount{:style => "margin-top: 4px;"}
                      = number_to_currency 20



          .row.profile_edit{:style => "padding:10px;"}
            .span8
              %p{:style => "font-size:87%;"}
                By clicking Join Now you agree to the
                = link_to "terms of use", welcome_terms_path, target: '_blank'
                of this site.  You will be billed the amount shown today and you will be automatically charged each successive month according to the terms of your subscription. Automatic billing will continue until you cancel your membership from this page.
            .span3.pull-right#billing-button-place
              %button.btn.btn-large#join-now
                - if f.object.card_provided?
                  Update Billing Account
                - else
                  Join Now!

  .row.profile_edit
    .span12
      %h3.collapsed Change Password
      .row.nested-row.hide
        = simple_form_for profile, :url => update_profile_path, html: {class: 'form-horizontal', id: 'change_password'} do |f|
          = f.fields_for :user do |f|
            = f.input :current_password, as: :password, required: false
            = f.input :password, as: :password, required: false
            = f.input :password_confirmation, as: :password, required: false
          .clear
            .control-group{:style => "margin-top: 41px;"}
              .span2.pull-right
                = f.button :submit, 'Save', :class => " btn-large"



  .row.profile_edit
    .span12
      %h3.collapsed Change Pillars
      .row.nested-row.hide
        .control-group
          .row
            %p.span5 You can only change pillars once a month for free. After once a month it costs you 300 points.
          .row
            .span5
              = link_to "Change Pillars", "#pillars/choose"

  .row.profile_edit
    .span12
      %h3.collapsed Cancel My Account
      .row.nested-row.hide
        %br
        %button.btn.btn-large#cancel-account
          Cancel


#event_items_popup.modal.hide.fade
#show_event_items_popup.modal.hide.fade
#profile_popup.modal.hide.fade
#choose_pillars_popup.modal.hide.fade
#facebook_albums_popup.modal.hide.fade

- content_for :javascript do
  $(function() {
  - if @profile == current_user.profile
    profile =  #{ raw(@profile.to_json(scope: :self)) }
    userRouter = new Agreatfirstdate.Routers.UserRouter({profile: #{ raw(@profile.to_json(scope: :self)) }});
  - else
    profile =  #{ raw(@profile.to_json(scope: :profile)) }
    userRouter = new Agreatfirstdate.Routers.UserRouter({profile: #{ raw(@profile.to_json(scope: :profile)) } });



  userSetting = new Agreatfirstdate.Views.User.Settings({el: $("#settings")})

  pillarsRouter = new Agreatfirstdate.Routers.PillarsRouter({profile: profile, pillars: #{ raw(@pillars.to_json scope: :self) }, pillarCategories: #{ raw(@pillar_categories.to_json(scope: :self)) }});
  })
