#event_items_popup
= simple_form_for profile, :url => update_profile_path, html: {class: 'form-horizontal', id: 'edit_profile'} do |f|
  .row.profile_edit
    .span6
      %h3 My Settings
      = f.fields_for :user do |f|
        = f.input :email
      = f.input :gender, collection: Profile::GENDERS.map{|g, title|[title.humanize, g]}, prompt: true
      = f.input :looking_for, collection: Profile::GENDERS.map{|g, title|[title.humanize.pluralize, g]}, prompt: true
      = f.input :in_or_around, collection: Profile::LOCATIONS, include_blank: false
      = f.input :looking_for_age do
        .age-controls
          = f.label :looking_for_age_from
          = f.text_field :looking_for_age_from, :class => 'span1'
          = f.label :looking_for_age_to
          = f.text_field :looking_for_age_to, :class => 'span1'
      = f.input :birthday,
        :start_year => Date.today.year - 80,
        :end_year => Date.today.year - 16,
        :include_blank => true,
        :order => [:month, :day, :year]
      = f.input :first_name
      = f.input :last_name


      / %fieldset
      /   %legend Billing Info
      /   = f.input :first_name
      /   = f.input :last_name
      /   = f.input :address1, input_html: {class: 'span6'}
      /   = f.input :address2, input_html: {class: 'span6'}
      /   = f.input :zip do
      /     = f.text_field :zip, :class => 'input-small'
      /     %span.hidden.send_geo= image_tag "/assets/verifying.gif"
      /   = f.input :city
      /   = f.input :state
      /   .control-group
      /     .card-left
      /       = f.input :card_number, input_html: {value: f.object.card_number_masked, autocomplete: :off}
      /       = f.input :card_type, collection: Profile::CARD_TYPES, input_html: {autocomplete: :off, style: 'height: 28px'}
      /       = f.input :card_type, input_html: {autocomplete: :off, class: 'uneditable-input', readonly: 'readonly'}
      /     .card-right
      /       = f.input :card_expiration, input_html: {class: 'input-small', autocomplete: :off}
      /       = f.input :card_cvc, input_html: {class: 'input-small', value: f.object.card_cvc_masked, autocomplete: :off}
      /     .clear
      /   .control-group
      /     .controls
      /       %p.help-block
      /         Your credit card will be automatically charged each month
      /         = link_to 'Change Card Details', '#', class: 'change-card_ hidden'
      /         = link_to 'Verify', '#', class: 'verify_ hidden'
      /         %span.hidden.verifying_
      /           Verifying
      /           = image_tag "verifying.gif"

    .span6
      %h3 Change Password
      = f.fields_for :user do |f|
        = f.input :current_password, as: :password, required: false
        = f.input :password, as: :password, required: false
        = f.input :password_confirmation, as: :password, required: false


      %h3 Cancel My Account
      = f.input :canceled, :as => :boolean, label: false, inline_label: true, wrapper_html: {class: 'cancel-account'}

      %h3 Change Pillars
      .control-group
        %p You can only change pillars once a month for free. After once a month it costs you 300 points.
        = link_to "Change Pillars", "#pillars/choose"

  .row
    .span12
      = f.button :submit, 'Save'
      = link_to 'Cancel', my_profile_path

#event_items_popup.modal.hide.fade
#show_event_items_popup.modal.hide.fade
#profile_popup.modal.hide.fade
#choose_pillars_popup.modal.hide.fade
#facebook_albums_popup.modal.hide.fade

- content_for :javascript do
  - if @profile == current_user.profile
    profile =  #{ raw(@profile.to_json(scope: :self)) }
  - else
    profile =  #{ raw(@profile.to_json(scope: :profile)) }

  userRouter = new Agreatfirstdate.Routers.UserRouter({profile: profile})


  pillarsRouter = new Agreatfirstdate.Routers.PillarsRouter({profile: profile, pillars: #{ raw(@pillars.to_json scope: :self) }, pillarCategories: #{ raw(@pillar_categories.to_json(scope: :self)) }});
