%form#new_event_photo.new_event_photo{"accept-charset" => "UTF-8", :action => "/event_photos", "data-remote" => "true", :enctype => "multipart/form-data", :method => "post"}
  %h2= t('event_descriptors.any_pics')
  = hidden_field_tag :authenticity_token
  = hidden_field_tag :pillar_id
  = file_field_tag 'event_photo[image][]', class: 'event_photo_image_', multiple: true, accept: 'image/png,image/jpeg'
  .import-from
    Import photo from:
    <% if(facebook_token) { %>
    = link_to raw('<i class="facebook-icon"></i>'), '#', :class => 'facebook-import'
    <% } %>
    <% if(instagram_token) { %>
    = link_to raw('<i class="instagram-icon"></i>'), '#', :class => 'instagram-import'
    <% } else { %>
    = link_to raw('<i class="instagram-icon"></i>'), '/users/auth/instagram'
    <% } %>
  .upload-status_
  %ul.event_photos_previews_.jcarousel-skin-great
