.authorization_forms_wrapper
  .row-fluid
    .span4
    .span3
      .devise-block
        .row-fluid.center
          Log in to A Great! First Date
        %br
        - wrapper_class = 'error' if flash[:alert].present?
        = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
          = link_to omniauth_authorize_path(resource_name, :facebook) do
            %i.facebook-signin-button-large
          %span.or

          .inputs
            = f.input :email, :required => true, :autofocus => true,
              :placeholder => "E-mail", :label => false,
              wrapper_html: { class: wrapper_class }

            = f.input :password, :required => true, :placeholder => "Password",
              :label => false, wrapper_html: { class: wrapper_class }

            = f.label :remember_me, :class => 'checkbox' do
              = f.check_box :remember_me, :as => :boolean if devise_mapping.rememberable?
              = 'Remember me'
          .actions
            = f.button :submit, "Log In"
          .bottom_links
            = link_to "Forgot your password?", new_password_path(resource_name)
            %br
            = link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name)

    .span4
