.row
  .span12.search-filter
    = simple_form_for :profile,  html: {class: 'form-horizontal'} do |f|
      .row.row-fluid
        .span2
          %h1 <span>Search</span> for your great first date
        .span4.params-box
          .control-group
            = label_tag :gender, "I'm a", class: 'control-label'
            .controls
              = select_tag :gender, options_for_select(Profile::GENDERS.map{|g, title|[title.humanize, g]}, (params[:gender]||@profile.try(:gender)))
          .control-group
            = label_tag :looking_for, "Looking for", class: 'control-label'
            .controls
              = select_tag :looking_for, options_for_select( Profile::GENDERS.map{|g, title|[title.humanize.pluralize, g]}, (params[:looking_for] || @profile.try(:looking_for)))
          .control-group
            = label_tag :in_or_around, "In or Around", class: 'control-label'
            .controls
              = select_tag :in_or_around, options_for_select(['Denver, CO'], params[:in_or_around])
          .control-group.age-group
            = f.input :looking_for_age, :required => false do
              = text_field_tag :looking_for_age_from, (params[:looking_for_age_from]||@profile.looking_for_age_from), class: 'input-mini'
              and
              = text_field_tag :looking_for_age_to, (params[:looking_for_age_to]||@profile.looking_for_age_to), class: 'input-mini'

        - if user_signed_in?
          .span2
            .control-group.who-mathces
              = label_tag :match_type, "Who Matches", class: 'control-label'
              .controls{:style=> "margin-top:4px;"}
                - %w[any all].each do |type|
                  = label_tag  do
                    = radio_button_tag 'match_type', type, 'any' == type, :style => "margin:0px;"
                    = type.humanize

          .span3.pillar-categories
            = f.input :pillar_category_ids,
              collection: @profile.pillars.map{ |p| [p.pillar_category.name, p.pillar_category.id] },
              as: :check_boxes,
              label: false,
              wrapper_html: { class: 'no-margin' },
              input_html: { name: 'pillar_category_ids[]' }

        - else
          .span4{:style => "text-align: center;"}
            Since you aren't signed up yet, we'll show you a few random results. Sign up to get started!

        .span2.pull-right
          #results_count
          .errors_

      - if user_signed_in?
        - unless @profile.card_verified?
          .row.row-fluid
            .span12.text-center.search-warning-message
              .info Payment not completed: #{card_status(@profile)}


- if user_signed_in? && @profile_completed
  #favorite_users
    %h4 My Favorites
    .favorite-users_

#results
#slider
#opposite_sex_results

- content_for :javascript do
  = render 'searches/js'
