- javascript_include_tag "ui.coverflow.js", "sylvester.js", "transformie.js"
#search
  #form_wrapper
    = simple_form_for :profile, as: :term, html: {autocomplete: :off, class: 'well-form'} do |f|
      .span2
        %h2.search-title
          %span.green-text
            search
          for your
          great first date
      .span4.box-select
        .form-horizontal
          .select_wrapper
            %label{:for => 'gender'} I'm a
            = select_tag :gender, options_for_select(Profile::GENDERS.map{|g, title|[title.humanize, g]}, @profile.try(:gender)), :class => 'select_box'
            .clear
          .select_wrapper
            %label{:for => 'looking_for'} Looking for
            = select_tag :looking_for, options_for_select( Profile::GENDERS.map{|g, title|[title.humanize.pluralize, g]}, @profile.try(:looking_for)), :class => 'select_box'
            .clear
          .select_wrapper
            %label{:for => 'in_or_around'} In or Around
            = select_tag :in_or_around, options_for_select(['Denver, CO']), :class => 'select_box'
            .clear
          .row
            .span
              .form-horizontal.age_range
                = f.input :looking_for_age, :required => false do
                  %span
                  = text_field_tag :looking_for_age_from, @profile.looking_for_age_from, class: 'input-mini'
                  %span and
                  = text_field_tag :looking_for_age_to, @profile.looking_for_age_to, class: 'input-mini'


      .span2
        - if user_signed_in?
          #who_matches
            .row
              .span3
                .span Who Matches:
                .span1.form-horizontal
                  - %w[any all].each do |type|
                    = label_tag  do
                      = radio_button_tag 'match_type', type, 'any' == type
                      = type.humanize
      .span2.offset1.check-box.categories_range
        - if user_signed_in?
          = f.input :pillar_category_ids, collection: @profile.pillars.map{|p|[p.pillar_category.name, p.pillar_category.id]}, as: :check_boxes, input_html: {name: :pillar_category_ids}, label: false

      .span2#results_count.while-backround
        .align_wrapper
          %h4 We have found you
          %var.count_.green-text 0 results
          - if user_signed_in?
            - unless @profile_completed
              .info We’ll show you a few random results.  Please finish your profile to see profile details pages
            - unless @profile.card_verified?
              .info Payment not completed: #{card_status(@profile)}
          - unless user_signed_in?
            .info.green-text We’ll show you a few random results.  Please register to see profile details pages
          .errors_
    .clear
  - if user_signed_in? && @profile_completed
    #favorite_users
      %h4 My Favorites
      .favorite-users_

  #results
  .clear
  #slider
  #opposite_sex_results

#show_restriction_popup.hidden
  - if user_signed_in?
    - unless @profile_completed
      Please finish your profile to see profile details pages
    - unless @card_verified
      = card_status(@profile)
  - unless user_signed_in?
    Please register to see profile details pages
:javascript
  $(document).ready(function(){
    window.authenticity_token = "#{form_authenticity_token}";
    window.searchRouter = new Agreatfirstdate.Routers.SearchRouter({user: #{@profile.to_json scope: :search}, profile_completed: #{@profile_completed.to_s}, opposite_sex: #{@opposite_sex_results.to_json}, guest: #{(!user_signed_in?).to_s}});
    Backbone.history.start();
  })
