#search
  #form_wrapper
    = simple_form_for @profile, as: :term, html: {autocomplete: :off} do |f|
      = f.input :gender, collection: Profile::GENDERS.map{|g, title|[title.humanize, g]}, include_blank: false, input_html: {name: :gender}
      = f.input :looking_for, collection: Profile::GENDERS.map{|g, title|[title.humanize.pluralize, g]}, include_blank: false, input_html: {name: :looking_for}
      = f.input :looking_for_age do
        %span{style: 'float:left'} Between:
        = text_field_tag :looking_for_age_from, @profile.looking_for_age_from
        %span{style: 'float:left'} and
        = text_field_tag :looking_for_age_to, @profile.looking_for_age_to

      = f.input :in_or_around, collection: ['Denver, CO'], include_blank: false, input_html: {name: :in_or_around}
      .clear
      #who_matches
        %b
          Who Matches
        - %w[any all].each do |type|
          = label_tag  do
            = type.humanize
            = radio_button_tag 'match_type', type, 'any' == type
      = f.input :pillar_category_ids, collection: @profile.pillars.map{|p|[p.pillar_category.name, p.pillar_category.id]}, as: :check_boxes, input_html: {name: :pillar_ids}, label: false
      .errors_
      = f.submit

  #favorite_users
    %h3 Favorites
    .favorite-users_
  #results_count
    %h3 We have found you
    %var.count_ 0 results


  #results
:javascript
  $(document).ready(function(){
    window.authenticity_token = "#{form_authenticity_token}";
    window.searchRouter = new Agreatfirstdate.Routers.SearchRouter({user: #{@profile.to_json}});
    Backbone.history.start();
  })