.row
  .span12.search-filter
    = simple_form_for :profile, html: {class: 'form-horizontal'} do |f|
      .row.row-fluid
        .span2
          %h1 <span>Search</span> for your great first date
        .span4.params-box
          .control-group
            = label_tag :gender, "I'm a", class: 'control-label'
            .controls
              = select_tag :gender, options_for_select(Profile::GENDERS.map{|g, title|[title.humanize, g]}, @profile.try(:gender))
          .control-group
            = label_tag :looking_for, "Looking for", class: 'control-label'
            .controls
              = select_tag :looking_for, options_for_select( Profile::GENDERS.map{|g, title|[title.humanize.pluralize, g]}, @profile.try(:looking_for))
          .control-group
            = label_tag :in_or_around, "In or Around", class: 'control-label'
            .controls
              = select_tag :in_or_around, options_for_select(['Denver, CO'])
          .control-group
            = f.input :looking_for_age, :required => false do
              = text_field_tag :looking_for_age_from, @profile.looking_for_age_from, class: 'input-mini'
              and
              = text_field_tag :looking_for_age_to, @profile.looking_for_age_to, class: 'input-mini'
        .span2
          - if user_signed_in?
            .control-group
              = label_tag :match_type, "Who Matches", class: 'control-label'
              .controls
                - %w[any all].each do |type|
                  = label_tag  do
                    = radio_button_tag 'match_type', type, 'any' == type
                    = type.humanize

        .span3.pillar-categories
          - if user_signed_in?
            = f.input :pillar_category_ids, collection: @profile.pillars.map{|p|[p.pillar_category.name, p.pillar_category.id]}, as: :check_boxes, input_html: {name: :pillar_category_ids}, label: false, wrapper_html: {class: 'no-margin'}

        .span2.pull-right
          #results_count
          - if user_signed_in?
            - unless @profile.card_verified?
              .info Payment not completed: #{card_status(@profile)}
          - else
            .info.green-text We’ll show you a few random results.  Please register to see profile details pages
          .errors_

- if user_signed_in? && @profile_completed
  #favorite_users
    %h4 My Favorites
    .favorite-users_

#results
#slider
#opposite_sex_results

#show_restriction_popup.hidden
  .popup_wrapper
    - if user_signed_in?
      - unless @profile_completed
        Please finish your profile to see profile details pages
      - unless @card_verified
        = card_status(@profile)
    - unless user_signed_in?
      Woh, easy there friend. You can't view profile pages until you sign up. It only takes about five minutes. Did I mention it's free?

- content_for :javascript do
  = render 'searches/js'
