- unless user_signed_in?
  #welcomeLogin
    #welcomeLoginBox
      %h3
        Already a
        %span member
        ?
      = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        = link_to omniauth_authorize_path(resource_name, :facebook) do
          %i.facebook-signin-button
        = f.input :email, :required => false, :label => false, :placeholder => 'USERNAME', error: false
        = f.input :password, :required => false, :label => false, :placeholder => 'PASSWORD', error: false
        = f.input :remember_me, :as => :boolean, :required => false, :label => 'Remember me'
        = f.button :submit, "Welcome back"
        = link_to "Forgot your password?", new_password_path(resource_name), :class => "forgot_link"