%form#new_event_item.form-horizontal
  .control-group
    = label_tag :pillar_id, 'Pillar', class: 'control-label'
    .controls
      %select#pillar_id
        <% pillars.each(function(pillar) { %>
        <% if  (choose_pillar.get('id') == pillar.get('id') ) {  %>
        %option{value: "<%= pillar.id %>".html_safe, selected: 'selected' } <%= pillar.get('name') %>
        <% } else { %>
        %option{value: "<%= pillar.id %>".html_safe } <%= pillar.get('name') %>
        <% } %>
        <% }); %>
  .control-group
    = label_tag :event_type_id, 'Event/Milestone', class: 'control-label'
    .controls
      = select_tag :event_type_id
  #event_type_fields
.photos_section
%h3= t('event_descriptors.any_pics')
%form#new_event_photos{"accept-charset" => "UTF-8", :action => "/api/event_photos", "data-remote" => "true", :enctype => "multipart/form-data", :method => "post"}
  = hidden_field_tag :authenticity_token, "<%= authenticity_token %>".html_safe
  = hidden_field_tag :pillar_id

  %span.btn.fileinput-button
    %span Choose files
    = file_field(:event_photo, :'image', multiple: true, accept: 'image/png,image/jpeg', class: 'event_photo_image' )
  %br
  %br

  .import-from
    Import photo from:
    = link_to raw('<i class="facebook-icon">i</i>'), '#', :class => 'facebook-import'
    = link_to raw('<i class="instagram-icon"></i>'), '#', :class => 'instagram-import'

  .upload-status{:style => "display:none;"}
    = image_tag '/assets/file-loader.gif'

  .photo-navigation{:style => "display:none;"}
    %a.prev.prev-navigation{:href => "#"}
    %a.next.next-navigation{:href => "#"}
    .carousel.event_photos_previews
      %ul
