- clear_descriptor_ids
%div{id: "event_#{event_item.id}"}
  %span
    = event_type_title event_item.event_type
  %br
  - event_item.event_descriptors.each do |descriptor|
    - unless (value = event_item.send(descriptor_field_name(descriptor))).blank?
      %span
        - case descriptor.field_type.to_sym
        - when :date
          %b
            = l value.to_date
        -else
          %b
            = event_descriptor_title(descriptor)
          = value
      %br
  - if event_item.event_type.has_attachments?
    - event_item.event_photos.each do |image|
      = image_tag image.image_url :thumb
  = link_to_function 'Edit', "editEventPopup(#{event_item.id})"