#selectPillar
  = simple_form_for @event_item, remote: true do |f|
    = render partial: 'event_descriptors/descriptor', collection: @event_item.event_type.event_descriptors
    - if @event_item.event_type.has_attachments?
      .event_photo_ids_.hidden
        = f.fields_for :event_photo_ids do |f|
          = f.text_field nil
          - @event_item.event_photos.each do |photo|
            = f.text_field '', value: photo.id, id: "event_photo_#{photo.id}"

  - if @event_item.event_type.has_attachments?
    .event_photo_form_wrapper_
      = form_for EventPhoto.new, remote: true do |f|
        = f.label :image, t('event_descriptors.any_pics')
        = f.file_field :image, class: 'event_photo_image_'
        %span.upload-status_ Select file
      .event_photos_previews_
        = render partial: 'event_photos/preview', collection: @event_item.event_photos, as: :photo
