!!!
%html
  %head
    %title A Great! First Date
    %link{:href => "//fonts.googleapis.com/css?family=PT+Sans|Gudea|Candal&subset=latin,latin-ext", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "https://js.stripe.com/v1/", "application"
    = csrf_meta_tags
    = tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY
  %body{:class => [controller_name, action_name], data: {page: [controller_name.capitalize, action_name.capitalize].join}}    
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to image_tag("logo.png"), root_path, class: "brand"
          - if user_signed_in?
            #headerUserPoints.pull-right
              %span#my_points= "#{current_user.profile.points} POINTS"
            %ul.nav.pull-right
              %li= link_to "Browse Profiles", searches_path
              %li="|"
              %li= link_to "My Profile", root_path
              %li="|"
              %li= link_to "Settings", edit_profile_path
              %li="|"
              %li= link_to "Sign out", destroy_user_session_path, :method => :delete            
          - else
            .login-dropdown.pull-right
              = link_to_function raw("#{image_tag("header_login_icon.png")} Login") , "$('#welcomeLogin').toggle();"
              = render "login_box"
          

    #wrapper      
      .main-inner
        #feedback
        .container.main
          #event_item_hint{style: "position: absolute;"}
          - unless notice.nil?
            .alert.alert-success.span4.offset8= notice
          - unless alert.nil?
            .alert.alert-error.span4.offset8= alert

          = yield
        .push

    %footer#pageFooter
      %section#infoFooter
        - unless user_signed_in?
          #userLoginFooter
            = link_to 'Sign Up', new_user_registration_path
        #info
          %ul
            %li= link_to 'The Blog', welcome_blog_path
            |
            %li= link_to 'FAQ', welcome_faq_path
            |
            %li= link_to 'Privacy', welcome_privacy_path
            |
            %li= link_to 'About', welcome_about_path
            |
            %li= link_to 'Terms of Use', welcome_terms_path
        #copyright
          &copy #{Time.now.year} aGreatFirstDate.com

    = render "layouts/google" unless Rails.env.development?
