!!!
%html
  %head
    %title Agreatfirstdate
    %link{:href => "http://fonts.googleapis.com/css?family=PT+Sans", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #wrapper
      %header#pageHeader
        %section#headerWrapper
          %section#headerLogo
            A
            %span GREAT!
            FIRST DATE
          %section#headerUser
            #headerUserBar
              - if user_signed_in?
                %span= link_to "My Profile", my_profile_path
                |
                %span= link_to "Settings"
                |
                %span= link_to "Sign Out", destroy_user_session_path, :method => :delete
              - else
                %span= image_tag("header_login_icon.png")
                %span= link_to 'Login', new_user_session_path
      %section#pageContainer
        - unless notice.nil?
          .notice= notice
        - unless alert.nil?
          .alert= alert

        = yield
        .push

    %footer#pageFooter
      %section#infoFooter
        - if !user_signed_in?
          #userLoginFooter
            = link_to 'Sign Up', new_user_registration_path
        #info
          %ul
            %li= link_to 'The Blog', welcome_blog_path
            |
            %li= link_to 'FAQ', welcome_faq_path
            |
            %li= link_to 'Privacy', welcome_privacy_path
            |
            %li= link_to 'About', welcome_about_path
            |
            %li= link_to 'Terms of Use', welcome_terms_path
        #copyright
          &copy #{Time.now.year} aGreatFirstDate.com

