!!!
%html
  %head
    %title Agreatfirstdate
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header#pageHeader
      %h1 A GREAT! FIRST DATE
      #sectionUser
        %h1
          = link_to('Sign Up', "")
          |
          = link_to('Login', "")
    %section#pageContainer
      - unless notice.nil?
        .notice= notice
      - unless alert.nil?
        .alert= alert

      = yield

    %footer#pageFooter
      %h1 Footer here

