!!!
%html
  %head
    %title A Great! First Date
    %link{:href => "http://fonts.googleapis.com/css?family=PT+Sans|Gudea|Candal&subset=latin,latin-ext", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag    "application", "users", :media => "all"
    = javascript_include_tag "https://js.stripe.com/v1/","application"
    = csrf_meta_tags
    = tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY
  %body{:class => [controller_name, action_name], data: {page: [controller_name.capitalize, action_name.capitalize].join}}
    #wrapper
      .main-inner
        #feedback
        #send_feedback_confirmation.hidden
          %p
            Confirmation. Send?
        %header#pageHeader
          %section#headerWrapper
            %section#headerLogo
              = link_to image_tag("logo.png"), root_path
            %section#headerUser
              - if user_signed_in?
                #headerUserTools
                  %span= link_to "Browse Profiles", searches_path
                  |
                  %span= link_to "My Profile", root_path
                  |
                  %span= link_to "Settings", edit_profile_path
                  |
                  %span= link_to "Sign out", destroy_user_session_path, :method => :delete
                #headerUserPoints
                  %span#my_points
              - else
                #headerUserBar
                  = link_to '#', :id => 'login_link' do
                    = image_tag("header_login_icon.png")
                    Login
        #event_item_hint{style: "position: absolute"}
        %section#pageContainer
          - unless user_signed_in?
            %section#welcomeLogin
              #welcomeLoginBox
                %h3
                  Already a
                  %span member
                  ?
                = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
                  = f.input :email, :required => false, :label => false, :placeholder => 'USERNAME', error: false
                  = f.input :password, :required => false, :label => false, :placeholder => 'PASSWORD', error: false
                  = f.button :submit, "Welcome back"
          - unless notice.nil?
            .notice= notice
          - unless alert.nil?
            .alert= alert

          = yield
        .push

    %footer#pageFooter
      %section#infoFooter
        - unless user_signed_in?
          #userLoginFooter
            = link_to 'Sign Up', new_user_registration_path
        #info
          %ul
            %li= link_to 'The Blog', welcome_blog_path
            |
            %li= link_to 'FAQ', welcome_faq_path
            |
            %li= link_to 'Privacy', welcome_privacy_path
            |
            %li= link_to 'About', welcome_about_path
            |
            %li= link_to 'Terms of Use', welcome_terms_path
        #copyright
          &copy #{Time.now.year} aGreatFirstDate.com

