!!!
%html
  %head
    %title A Great! First Date
    %link{:href => "http://fonts.googleapis.com/css?family=PT+Sans|Gudea|Candal&subset=latin,latin-ext", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{:class => [controller_name, action_name], data: {page: [controller_name.capitalize, action_name.capitalize].join}}
    #wrapper
      %header#pageHeader
        %section#headerWrapper
          %section#headerLogo
            = link_to image_tag("logo.png"), root_path
          %section#headerUser
            - if user_signed_in?
              #headerUserTools
                %span= link_to "Browse Profiles", ''
                |
                %span= link_to "My Profile", my_profile_path
                |
                %span= link_to "Settings"
              #headerUserPoints
                %span
                  = current_user.profile.points
                  points
            - else
              #headerUserBar
                %span= image_tag("header_login_icon.png")
                %span= link_to 'Login', '', :id => 'login_link'
      %section#pageContainer
        - unless notice.nil?
          .notice= notice
        - unless alert.nil?
          .alert= alert

        = yield
      .push

    %footer#pageFooter
      %section#infoFooter
        - unless user_signed_in?
          #userLoginFooter
            = link_to 'Sign Up', new_user_registration_path
        #info
          %ul
            %li= link_to 'The Blog', welcome_blog_path
            |
            %li= link_to 'FAQ', welcome_faq_path
            |
            %li= link_to 'Privacy', welcome_privacy_path
            |
            %li= link_to 'About', welcome_about_path
            |
            %li= link_to 'Terms of Use', welcome_terms_path
        #copyright
          &copy #{Time.now.year} aGreatFirstDate.com

