!!!
%html
  %head
    %title Agreatfirstdate
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #wrapper
      %header#pageHeader
        %section#headerLogo
          = link_to 'A GREAT! FIRST DATE', root_path
        %section#userLoginHeader
          - if user_signed_in?
            = link_to "My Profile", my_profile_path
            |
            = link_to "Settings"
            |
            = link_to "Sign Out", destroy_user_session_path, :method => :delete
      %section#pageContainer
        - unless notice.nil?
          .notice= notice
        - unless alert.nil?
          .alert= alert

        = yield
        .push
    %footer#pageFooter
      %section#infoFooter
        #userLoginFooter
          = link_to 'Sign Up', new_user_registration_path
        #info
          %ul
            %li= link_to 'The Blog', welcome_blog_path
            |
            %li= link_to 'FAQ', welcome_faq_path
            |
            %li= link_to 'Privacy', welcome_privacy_path
            |
            %li= link_to 'About', welcome_about_path
            |
            %li= link_to 'Terms of Use', welcome_terms_path
        #copyright
          &copy #{Time.now.year} aGreatFirstDate.com

