!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %title= content_for?(:title) ? yield(:title) : t("page_title.#{controller_name}.#{action_name}", default: t('page_title.default') )
    = csrf_meta_tags
    = tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    - if controller_name == 'welcome'
      = stylesheet_link_tag "welcome", :media => "all"
    - else
      = stylesheet_link_tag "application", :media => "all"
    / %link(href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon-precomposed" sizes="144x144")
    / %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114")
    / %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72")
    / %link(href="images/apple-touch-icon.png" rel="apple-touch-icon-precomposed")
    / %link(href="favicon.ico" rel="shortcut icon")
    %script{:src => "//use.typekit.net/dnc5mvx.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}


  %body{class: "#{controller_name} #{action_name}"}
    = render 'application/top_nav_bar'

    - if controller_name == 'welcome' && action_name == 'index'
      = bootstrap_flash
      = yield
    - else
      .container
        .row
          .span12
            = bootstrap_flash
            = yield
    #popup-facebook-connect.modal.hide.fade
    #popup-instagram-connect.modal.hide.fade
    #popup-notification.modal.hide.fade
    #not_enough_points_popup.modal.hide.fade

    = render 'application/footer'
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "https://js.stripe.com/v1/", "application"
    = set_current_user_in_javascript
    - if content_for? :javascript
      %script
        = yield :javascript
