!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %title= content_for?(:title) ? yield(:title) : t("page_title.#{controller_name}.#{action_name}", default: t('page_title.default') )
    = csrf_meta_tags
    = tag :meta, :name => "stripe-key", content: Settings.stripe.publishable_key
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    - if controller_name == 'welcome'
      = stylesheet_link_tag "welcome", :media => "all"
    - else
      = stylesheet_link_tag "application", :media => "all"
    / %link(href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon-precomposed" sizes="144x144")
    / %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114")
    / %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72")
    / %link(href="images/apple-touch-icon.png" rel="apple-touch-icon-precomposed")
    / %link(href="favicon.ico" rel="shortcut icon")
    -#%script{:src => "//use.typekit.net/dnc5mvx.js", :type => "text/javascript"}
    -#:javascript
    -#  try{Typekit.load();}catch(e){}


  %body{class: "no_content"}
    = yield
    #popup-notification.modal.hide.fade
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    - unless Rails.env.development?
      = javascript_include_tag '//cdn.optimizely.com/js/107742664.js'
      = render partial: 'layouts/google'
      = render partial: 'layouts/adroll'
    = javascript_include_tag 'application'
    - if content_for? :javascript_includes
      = yield :javascript_includes
    = set_current_user_in_javascript
    - if content_for? :javascript
      %script
        = yield :javascript

    %script
      $(function(){ Backbone.history.start() })
